<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>solder2_left0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{37,42}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,2},{37,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_left0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,46},{37,42}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,2},{37,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_left0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{39,42}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,2},{39,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_left0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{39,42}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,2},{39,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_left0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,90},{39,40}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{39,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_left0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,2},{39,42}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,2},{39,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_left0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{39,42}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,2},{39,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_left0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,90},{37,42}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,2},{37,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_left0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,134},{37,42}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,2},{37,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_left0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,178},{37,42}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,2},{37,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_left0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,46},{39,42}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,2},{39,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_left0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{39,42}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,2},{39,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_left0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,132},{39,40}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{39,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_left0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{39,42}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,2},{39,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_left0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{37,42}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,2},{37,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>soldier2.left.png</string>
            <key>size</key>
            <string>{123,219}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:977144389343a982405015f649469cf5:44a818fce15eeea879d1c241406d5c39:a4d3b688afe2418898ee92aacc5a0c74$</string>
            <key>textureFileName</key>
            <string>soldier2.left.png</string>
        </dict>
    </dict>
</plist>
