<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>solder2_back0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{25,42}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,1},{25,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_back0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,44},{27,40}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,3},{27,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_back0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,44},{27,40}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,3},{27,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_back0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,2},{29,40}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,3},{29,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_back0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{29,40}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,4},{29,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_back0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,2},{29,40}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,3},{29,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_back0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,44},{27,40}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,3},{27,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_back0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{25,42}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,1},{25,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_back0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,44},{27,40}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,3},{27,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_back0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{27,40}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,3},{27,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_back0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{29,40}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,3},{29,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_back0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{29,40}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,4},{29,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_back0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{29,40}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,3},{29,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_back0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,33},{27,40}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,3},{27,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_back0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{25,42}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,1},{25,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>soldier2.down.png</string>
            <key>size</key>
            <string>{256,73}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:774064169c5da8de1965a22e8f37c071:3f6a42bcb87fa0bba80667471afda0c3:916f5b68496455b4bfee3c893a31b129$</string>
            <key>textureFileName</key>
            <string>soldier2.down.png</string>
        </dict>
    </dict>
</plist>
