<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>solder1_down0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,82},{29,38}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,5},{29,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder1_down0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,82},{29,38}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,5},{29,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder1_down0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{31,38}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,5},{31,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder1_down0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{31,38}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,5},{31,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder1_down0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{31,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,6},{31,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder1_down0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,2},{31,38}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,5},{31,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder1_down0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,2},{29,38}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,5},{29,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder1_down0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{29,38}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,5},{29,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder1_down0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,42},{29,38}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,5},{29,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder1_down0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,42},{29,38}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,5},{29,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder1_down0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,42},{31,38}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,5},{31,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder1_down0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,82},{31,38}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,5},{31,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder1_down0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{31,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,6},{31,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder1_down0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,42},{31,38}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,5},{31,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder1_down0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,82},{29,38}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,5},{29,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>soldier.down.png</string>
            <key>size</key>
            <string>{163,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b101677c5a1050cf9789be58b4234d3:a1550e03b463d56a24bbb1779a405869:f1159e52f7172fcfb8bb371153a12540$</string>
            <key>textureFileName</key>
            <string>soldier.down.png</string>
        </dict>
    </dict>
</plist>
