<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_airstike_animation1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,426},{68,68}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{68,68}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_airstike_animation1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,308},{76,76}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{76,76}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_airstike_animation1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,406},{84,86}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{84,86}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_airstike_animation1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,210},{94,94}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{94,94}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_airstike_animation1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,124},{104,104}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{104,104}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_airstike_animation1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,248},{112,116}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{112,116}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_airstike_animation1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,0},{106,108}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{106,108}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_airstike_animation1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,108},{100,100}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{100,100}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_airstike_animation1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,408},{92,92}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{92,92}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_airstike_animation1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,108},{100,100}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{100,100}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_airstike_animation1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,0},{106,108}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{106,108}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_airstike_animation1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,124},{112,116}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{112,116}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_airstike_animation1_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{120,124}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{120,124}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_airstike_animation1_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,0},{106,108}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{106,108}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_airstike_animation1_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,210},{94,94}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{94,94}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_airstike_animation1_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,108},{80,80}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{80,80}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_airstike_animation1_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,426},{68,68}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{68,68}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_airstike_animation2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,426},{68,68}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{68,68}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_airstike_animation2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,384},{76,76}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{76,76}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_airstike_animation2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,304},{84,86}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{84,86}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_airstike_animation2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,220},{94,94}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{94,94}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_airstike_animation2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,116},{104,104}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{104,104}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_airstike_animation2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,0},{112,116}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{112,116}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_airstike_animation2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,0},{106,108}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{106,108}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_airstike_animation2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,208},{100,100}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{100,100}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_airstike_animation2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,314},{92,92}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{92,92}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_airstike_animation2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,208},{100,100}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{100,100}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_airstike_animation2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,0},{106,108}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{106,108}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_airstike_animation2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,364},{112,116}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{112,116}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_airstike_animation2_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,124},{120,124}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{120,124}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_airstike_animation2_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,0},{106,108}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{106,108}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_airstike_animation2_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,220},{94,94}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{94,94}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_airstike_animation2_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,188},{80,80}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{80,80}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_airstike_animation2_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,426},{68,68}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{68,68}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_hero3_bot_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,426},{68,68}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{68,68}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>button_hero3_bot_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,390},{76,76}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{76,76}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>button_hero3_bot_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,348},{84,84}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{84,84}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>button_hero3_bot_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,406},{92,92}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{92,92}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>button_hero3_bot_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,116},{100,102}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{100,102}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>button_hero3_bot_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,108},{100,102}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{100,102}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>button_hero3_bot_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,108},{100,102}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{100,102}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>button_hero3_bot_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,228},{98,100}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{98,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>button_hero3_bot_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,326},{98,100}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{98,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>button_hero3_bot_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,228},{98,100}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{98,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>button_hero3_bot_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,108},{100,102}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{100,102}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>button_hero3_bot_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,108},{100,102}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{100,102}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>button_hero3_bot_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,116},{100,102}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{100,102}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>button_hero3_bot_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,406},{92,92}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{92,92}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>button_hero3_bot_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,348},{84,84}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{84,84}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>button_hero3_bot_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,390},{76,76}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{76,76}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>button_hero3_bot_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,426},{68,68}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{68,68}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>button_landmine_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,432},{68,68}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{68,68}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_landmine_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,392},{76,76}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{76,76}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_landmine_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,308},{84,86}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,18},{84,86}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_landmine_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,314},{94,94}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{94,94}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_landmine_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,116},{104,104}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{104,104}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_landmine_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,0},{112,116}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{112,116}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_landmine_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,248},{106,108}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{106,108}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_landmine_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,326},{100,100}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{100,100}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_landmine_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,314},{92,92}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{92,92}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_landmine_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,326},{100,100}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{100,100}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_landmine_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,248},{106,108}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{106,108}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_landmine_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,0},{112,116}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{112,116}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_landmine_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,0},{120,124}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{120,124}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_landmine_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,356},{106,108}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{106,108}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_landmine_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,220},{94,94}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{94,94}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_landmine_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,268},{80,80}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{80,80}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_landmine_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,432},{68,68}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{68,68}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>button_swat_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,426},{68,68}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{68,68}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>button_swat_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,390},{76,76}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{76,76}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>button_swat_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,348},{84,84}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{84,84}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>button_swat_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,406},{92,92}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{92,92}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>button_swat_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,116},{100,102}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{100,102}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>button_swat_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,108},{100,102}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{100,102}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>button_swat_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,108},{100,102}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{100,102}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>button_swat_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,228},{98,100}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{98,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>button_swat_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,326},{98,100}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{98,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>button_swat_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,228},{98,100}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{98,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>button_swat_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,108},{100,102}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{100,102}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>button_swat_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,108},{100,102}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{100,102}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>button_swat_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,116},{100,102}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{100,102}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>button_swat_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,406},{92,92}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{92,92}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>button_swat_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,348},{84,84}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{84,84}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>button_swat_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,390},{76,76}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{76,76}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>button_swat_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,426},{68,68}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{68,68}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buttoln_skills.png</string>
            <key>size</key>
            <string>{1024,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f003e3f4395f9ec93b338e8b7dfb284e:8e8430921d3c8c72f2d4d78742715cbd:ef0ca0c93d6f56c7828a26afce1a6e3c$</string>
            <key>textureFileName</key>
            <string>buttoln_skills.png</string>
        </dict>
    </dict>
</plist>
