<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>solder2_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,98},{69,46}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{69,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,194},{69,46}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{69,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,146},{69,46}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{69,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,50},{69,46}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{69,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,98},{69,46}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{69,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{69,46}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{69,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{69,46}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{69,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{69,46}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{69,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,50},{69,46}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{69,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{69,46}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{69,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{69,46}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{69,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{69,46}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{69,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,46}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{69,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,191},{41,42}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,2},{41,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,146},{43,42}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,2},{43,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,190},{45,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,2},{45,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,146},{45,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,2},{45,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,90},{39,42}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,2},{39,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_fire_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,46},{39,42}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,2},{39,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>solder2_fire_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{39,42}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,2},{39,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>soldier2.fire.png</string>
            <key>size</key>
            <string>{256,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7dfdd6ff54a9d33d9907305be0b3d84a:671fed29753857e8cafe28f1d264768c:81f2a586eeafc22354fcffc4ef127b93$</string>
            <key>textureFileName</key>
            <string>soldier2.fire.png</string>
        </dict>
    </dict>
</plist>
