<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dynamite_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,29}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,21},{67,29}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>dynamite_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,29}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,21},{67,29}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>dynamite_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,29}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,21},{67,29}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>dynamite_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,29}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,21},{67,29}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>dynamite_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,29}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,21},{67,29}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>dynamite_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,29}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,21},{67,29}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>dynamite_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,29}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,21},{67,29}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>dynamite_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,29}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,21},{67,29}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dynamit.png</string>
            <key>size</key>
            <string>{71,33}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c13604a515868a0097706b477cfddf7:7c4747dd1f87895eaa64fa1cd470292a:a98c420c9e6d2ed8cc6eda4d2a711a20$</string>
            <key>textureFileName</key>
            <string>dynamit.png</string>
        </dict>
    </dict>
</plist>
