<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_fuel.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,429},{34,40}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,40}}</string>
                <key>sourceSize</key>
                <string>{38,44}</string>
            </dict>
            <key>button_tobattle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,429},{191,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,59}}</string>
                <key>sourceSize</key>
                <string>{191,59}</string>
            </dict>
            <key>coin_diff.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,429},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>gear_for_diff.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,459},{28,28}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>heals_for_diff.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,462},{28,26}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,26}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>lock2.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,372},{99,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,122}}</string>
                <key>sourceSize</key>
                <string>{99,122}</string>
            </dict>
            <key>star_for_diff.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,429},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>wave_for_diff.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,429},{30,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>win_for_level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{293,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,368}}</string>
                <key>sourceSize</key>
                <string>{293,368}</string>
            </dict>
            <key>win_hard_diff.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{278,425}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,425}}</string>
                <key>sourceSize</key>
                <string>{278,425}</string>
            </dict>
            <key>win_normal_diff.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{278,425}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,425}}</string>
                <key>sourceSize</key>
                <string>{278,425}</string>
            </dict>
            <key>x_for_diff.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,429},{28,28}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>choose.png</string>
            <key>size</key>
            <string>{857,490}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a978bf239197a5462b6e506d95a5ca64$</string>
            <key>textureFileName</key>
            <string>choose.png</string>
        </dict>
    </dict>
</plist>
